<div class="card card-body">
   <form method="POST">
       <center>
       <span style="display:flex;"><label style="font-size:20px;margin-top:70px;margin-left:80px;"for="dweet">Your Updated Dweet:</label><textarea id="dweet"name="dweet"style="margin-left:200px;height:200px;width:400px;"placeholder="Your Updated Dweet"></textarea></span>
       <input style="height:50px;text-transform:capitalize;background-color:lightgreen;font-size:30px;"type="submit" value="SUBMIT">
       </center>
   </form>
</div>